In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
rul = pd.read_csv("data/RUL_FD001.txt", header=None)
df_train = pd.read_csv("data/train_FD001.txt", sep=' ', header=None)
df_train = df_train.drop(df_train.columns[-2:], axis=1)
df_test = pd.read_csv("data/test_FD001.txt", sep=' ', header=None)
df_test = df_test.drop(df_test.columns[-2:], axis=1)

In [20]:
window_size = 30

df_unit = df_train[df_train.iloc[:, 0] == 1]
df_unit = df_unit.iloc[:, 5:]

In [21]:
df_unit

,5,6,7,8,9,10,11,12,13,14,...,16,17,18,19,20,21,22,23,24,25
0,518.67,641.82,1589.70,1400.60,14.62,21.61,554.36,2388.06,9046.19,1.3,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,518.67,642.15,1591.82,1403.14,14.62,21.61,553.75,2388.04,9044.07,1.3,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,518.67,642.35,1587.99,1404.20,14.62,21.61,554.26,2388.08,9052.94,1.3,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,518.67,642.35,1582.79,1401.87,14.62,21.61,554.45,2388.11,9049.48,1.3,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,518.67,642.37,1582.85,1406.22,14.62,21.61,554.00,2388.06,9055.15,1.3,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,518.67,643.75,1602.38,1422.78,14.62,21.61,551.94,2388.31,9037.91,1.3,...,519.79,2388.23,8117.69,8.5207,0.03,396,2388,100.0,38.51,22.9588
188,518.67,644.18,1596.17,1428.01,14.62,21.61,550.70,2388.27,9044.55,1.3,...,519.58,2388.33,8117.51,8.5183,0.03,395,2388,100.0,38.48,23.1127
189,518.67,643.64,1599.22,1425.95,14.62,21.61,551.29,2388.29,9040.58,1.3,...,520.04,2388.35,8112.58,8.5223,0.03,398,2388,100.0,38.49,23.0675
190,518.67,643.34,1602.36,1425.77,14.62,21.61,550.92,2388.28,9042.76,1.3,...,519.57,2388.30,8114.61,8.5174,0.03,394,2388,100.0,38.45,23.1295
191,518.67,643.54,1601.41,1427.20,14.62,21.61,551.25,2388.32,9033.22,1.3,...,520.08,2388.32,8110.93,8.5113,0.03,396,2388,100.0,38.48,22.9649

In [10]:
for i in range(len(df_unit)-window_size):
    print((i, i+window_size))

(0, 30)
(1, 31)
(2, 32)
(3, 33)
(4, 34)
(5, 35)
(6, 36)
(7, 37)
(8, 38)
(9, 39)
(10, 40)
(11, 41)
(12, 42)
(13, 43)
(14, 44)
(15, 45)
(16, 46)
(17, 47)
(18, 48)
(19, 49)
(20, 50)
(21, 51)
(22, 52)
(23, 53)
(24, 54)
(25, 55)
(26, 56)
(27, 57)
(28, 58)
(29, 59)
(30, 60)
(31, 61)
(32, 62)
(33, 63)
(34, 64)
(35, 65)
(36, 66)
(37, 67)
(38, 68)
(39, 69)
(40, 70)
(41, 71)
(42, 72)
(43, 73)
(44, 74)
(45, 75)
(46, 76)
(47, 77)
(48, 78)
(49, 79)
(50, 80)
(51, 81)
(52, 82)
(53, 83)
(54, 84)
(55, 85)
(56, 86)
(57, 87)
(58, 88)
(59, 89)
(60, 90)
(61, 91)
(62, 92)
(63, 93)
(64, 94)
(65, 95)
(66, 96)
(67, 97)
(68, 98)
(69, 99)
(70, 100)
(71, 101)
(72, 102)
(73, 103)
(74, 104)
(75, 105)
(76, 106)
(77, 107)
(78, 108)
(79, 109)
(80, 110)
(81, 111)
(82, 112)
(83, 113)
(84, 114)
(85, 115)
(86, 116)
(87, 117)
(88, 118)
(89, 119)
(90, 120)
(91, 121)
(92, 122)
(93, 123)
(94, 124)
(95, 125)
(96, 126)
(97, 127)
(98, 128)
(99, 129)
(100, 130)
(101, 131)
(102, 132)
(103, 133)
(104, 134)
(105, 135)
(106, 136)
(107, 137)
(108, 138)
(109, 139)
(110, 140)
(111, 141)
(112, 142)
(113, 143)
(114, 144)
(115, 145)
(116, 146)
(117, 147)
(118, 148)
(119, 149)
(120, 150)
(121, 151)
(122, 152)
(123, 153)
(124, 154)
(125, 155)
(126, 156)
(127, 157)
(128, 158)
(129, 159)
(130, 160)
(131, 161)
(132, 162)
(133, 163)
(134, 164)
(135, 165)
(136, 166)
(137, 167)
(138, 168)
(139, 169)
(140, 170)
(141, 171)
(142, 172)
(143, 173)
(144, 174)
(145, 175)
(146, 176)
(147, 177)
(148, 178)
(149, 179)
(150, 180)
(151, 181)
(152, 182)
(153, 183)
(154, 184)
(155, 185)
(156, 186)
(157, 187)
(158, 188)
(159, 189)
(160, 190)
(161, 191)

In [11]:
df_unit

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,1,188,-0.0067,0.0003,100.0,518.67,643.75,1602.38,1422.78,14.62,...,519.79,2388.23,8117.69,8.5207,0.03,396,2388,100.0,38.51,22.9588
188,1,189,-0.0006,0.0002,100.0,518.67,644.18,1596.17,1428.01,14.62,...,519.58,2388.33,8117.51,8.5183,0.03,395,2388,100.0,38.48,23.1127
189,1,190,-0.0027,0.0001,100.0,518.67,643.64,1599.22,1425.95,14.62,...,520.04,2388.35,8112.58,8.5223,0.03,398,2388,100.0,38.49,23.0675
190,1,191,-0.0000,-0.0004,100.0,518.67,643.34,1602.36,1425.77,14.62,...,519.57,2388.30,8114.61,8.5174,0.03,394,2388,100.0,38.45,23.1295
191,1,192,0.0009,-0.0000,100.0,518.67,643.54,1601.41,1427.20,14.62,...,520.08,2388.32,8110.93,8.5113,0.03,396,2388,100.0,38.48,22.9649

In [3]:
df_train[df_train.iloc[:, 0] == 1]

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,1,188,-0.0067,0.0003,100.0,518.67,643.75,1602.38,1422.78,14.62,...,519.79,2388.23,8117.69,8.5207,0.03,396,2388,100.0,38.51,22.9588
188,1,189,-0.0006,0.0002,100.0,518.67,644.18,1596.17,1428.01,14.62,...,519.58,2388.33,8117.51,8.5183,0.03,395,2388,100.0,38.48,23.1127
189,1,190,-0.0027,0.0001,100.0,518.67,643.64,1599.22,1425.95,14.62,...,520.04,2388.35,8112.58,8.5223,0.03,398,2388,100.0,38.49,23.0675
190,1,191,-0.0000,-0.0004,100.0,518.67,643.34,1602.36,1425.77,14.62,...,519.57,2388.30,8114.61,8.5174,0.03,394,2388,100.0,38.45,23.1295
191,1,192,0.0009,-0.0000,100.0,518.67,643.54,1601.41,1427.20,14.62,...,520.08,2388.32,8110.93,8.5113,0.03,396,2388,100.0,38.48,22.9649